<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <h4 class="mb-3">新增餐廳：</h4>
      <form action="/restaurant" method="POST">
        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text  bg-white" id="name">中文名稱</span>
            </div>
            <input type="text" class="form-control" placeholder="請填寫中文名稱" name="name" aria-label="name"
              aria-describedby="name">
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text  bg-white" id="enName">英文名稱</span>
            </div>
            <input type="text" class="form-control" placeholder="請填寫英文名稱" name="name_en" aria-label="enName"
              aria-describedby="enName">
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text  bg-white" for="inputGroupSelect01">餐廳類型</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" name="category">
              <option selected>選擇類型...</option>
              <option value="中東料理">中東料理</option>
              <option value="日本料理">日本料理</option>
              <option value="義式餐廳">義式餐廳</option>
              <option value="美式">美式</option>
              <option value="酒吧">酒吧</option>
              <option value="咖啡">咖啡</option>
            </select>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text  bg-white" id="preview">餐廳預覽</span>
            </div>
            <input type="text" class="form-control" placeholder="請填寫圖片網址" name="image" aria-label="preview"
              aria-describedby="preview">
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text  bg-white" id="location">地址</span>
            </div>
            <input type="text" class="form-control" placeholder="請填寫餐廳地址" name="location" aria-label="location"
              aria-describedby="location">
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text  bg-white" id="phone">電話</span>
            </div>
            <input type="text" class="form-control" placeholder="請填寫餐廳電話" name="phone" aria-label="phone"
              aria-describedby="phone">
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text  bg-white" id="GMap">Google Map</span>
            </div>
            <input type="text" class="form-control" placeholder="請填寫地圖網址" name="google_map" aria-label="GMap"
              aria-describedby="GMap">
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text  bg-white" id="rating">評分</span>
            </div>
            <input type="text" class="form-control" name="rating" placeholder="0~5分，請填寫該餐廳評分" aria-label="rating"
              aria-describedby="rating">
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text  bg-white" id="description">簡介</span>
            </div>
            <textarea type="text" class="form-control" rows="3" name="description" placeholder="請填寫餐廳簡介"
              aria-label="description" aria-describedby="description"></textarea>
          </div>

        </div>
        <button type="submit" class="btn btn-major">Submit</button>
      </form>


    </div>


  </div>
</div>